<footer class="footer footer-dark">
    <div class="container">
        <p class="footer-logo"><img src="{{{global.img_logo_footer}}}"></p>

        <div class="social">
            <nav class="level is-mobile">
                {{#global.footer.github.show_or_hide}}
                <a class="level-item" href="{{{global.footer.github.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-github"></i></span>
                </a>
                {{/global.footer.github.show_or_hide}}

                {{#global.footer.dribbble.show_or_hide}}
                <a class="level-item" href="{{{global.footer.dribbble.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-dribbble"></i></span>
                </a>
                {{/global.footer.dribbble.show_or_hide}}

                {{#global.footer.facebook.show_or_hide}}
                <a class="level-item" href="{{{global.footer.facebook.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-facebook"></i></span>
                </a>
                {{/global.footer.facebook.show_or_hide}}

                {{#global.footer.twitter.show_or_hide}}
                <a class="level-item" href="{{{global.footer.twitter.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-twitter"></i></span>
                </a>
                {{/global.footer.twitter.show_or_hide}}

                {{#global.footer.instagram.show_or_hide}}
                <a class="level-item" href="{{{global.footer.instagram.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-instagram"></i></span>
                </a>
                {{/global.footer.instagram.show_or_hide}}

                {{#global.footer.linkedin.show_or_hide}}
                <a class="level-item" href="{{{global.footer.linkedin.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-linkedin"></i></span>
                </a>
                {{/global.footer.linkedin.show_or_hide}}

                {{#global.footer.youtube.show_or_hide}}
                <a class="level-item" href="{{{global.footer.youtube.link}}}" target="_blank">
                    <span class="icon"><i class="fa fa-youtube"></i></span>
                </a>
                {{/global.footer.youtube.show_or_hide}}
            </nav>
        </div>
        <p class="vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/CeaT4_42ZokHHh_cI3t46NtjSQVy-tAJT9tE7NO1BjtYx3DDfEt2TwK2wMldnbJ9G7MW4C2DetEsrqO8JdUyXG9N"/></a></p>
    </div>
</footer>
